// Widescreen
@include mediaXl {
    .projects {
        grid-template-columns: repeat(4, 1fr);
    }
    
}
// Desktops & Lpatops
@include mediaLg {
    .projects {
        grid-template-columns: repeat(3, 1fr);
    }
}
// Tablets and Small Laptops
@include mediaMd {
    main{
        align-items: center;
        text-align: center;

        .lg-heading {
            line-height: 1;
            margin-bottom: 1rem;
        }
    }

    ul.menu-nav,
    div.menu-branding {
        float: none;
        width: 100%;
        min-height: 0;

        &.show {
            transform: translate3d(0,0,0) ;
        }
    }

    .menu-nav {
        height: 75vh;
        transform: translate3d(-100%,0,0);
        font-size: 24px;
    }

    .menu-branding {
        height: 25vh;
        transform: translate3d(100%,0,0);

        .potrait {
            background: url(../img/portrait_small.jpg);
            width: 150px;
            height: 150px;
        }
    }
    .about-info {
        grid-template-areas: 
            'bioimage' 
            'bio'
            'job1'
            'job2' 
            'job3';
        grid-template-columns: repeat(1, 1fr);
    }

    .projects {
        grid-template-columns: repeat(2, 1fr);
    }

}
// Smartphones
@include mediaSm {
    main#home {
        margin-top: 10vh;
    }

    .projects {
        grid-template-columns: repeat(1, 1fr);
    }

    h1, 
    h2, 
    h3 {
        margin: 0;
        font-weight: 300;

        &.lg-heading{
            font-size: 3rem;
            justify-content: center;
            margin-bottom: 1rem;
        
        }

        &.sm-heading {
            margin-bottom: 1rem;
            margin: 0.2rem 0.5rem;
            padding-bottom: 1rem;
            background: rgba(lighten($primary-color, 2), 0.5);
        }
    }

    .about-info {
        margin: 4px;
        // grid-template-areas: 
        //     'bioimage' 
        //     'bio'
        //     'job1'
        //     'job2' 
        //     'job3';
        // grid-template-columns: repeat(1, 1fr);
        .bio-image {
            
            background: url(../img/portrait_small.jpg);
            width: 150px;
            height: 150px;
            margin: 1rem;
            border-radius: 50%;
            border: $secondary-color 3px solid;
        }  
    }
    .boxes {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
        align-items: center;
        margin-top: 0;
    
        div {
            font-size: 1.5rem;
            border: #fff 3px solid;
            padding: 0.7rem 1rem;
            margin-bottom: 3rem;
            @include easeOut;
    
            &:hover {
                padding: 0.1rem 1rem;
                background: $secondary-color;
                color: set-text-color($secondary-color);
                span {
                    color: set-text-color($secondary-color);
                }
            }
        }
    }

}